.avatar {
    min-height: 200px;
    min-width: 200px;
    display: inline;
    margin: 20px;
    width: 20%;
}

.search, .create {
    display: inline;
    margin-left: 10px;
}

button.edit {
    padding: 4px;
    max-width: 33px;
    max-height: 33px;
}

.success {
    color: green;
    margin-right: 20px;
}

.error {
    color: red;
    margin-right: 20px;
}

.controls {
    margin-top: 10px;
}

a:hover, a {
    text-decoration: none;
}