.avatar {
    min-height: 200px;
    min-width: 200px;
    display: inline;
    margin: 20px;
    width: 20%;
}

.search, .create {
    display: inline;
    margin-left: 10px;
}

button.edit {
    padding: 4px;
    max-width: 33px;
    max-height: 33px;
}

.success {
    color: green;
    margin-right: 20px;
}

.error {
    color: red;
    margin-right: 20px;
}

.controls {
    margin-top: 10px;
}

a:hover, a {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.ui-view-container {
    position: relative;
    height: 100%;
}

[ui-view] {
    position: absolute;
    width: 100%;
    top: 75px;
}

.animate-repeat {
    line-height:37px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:37px;
}