<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main"><a ui-sref="dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a></li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list"><a ui-sref="dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a></li>
        <li class="sidebar-list"><a ui-sref="users">Users <span class="menu-icon fa fa-users"></span></a></li>
        <li class="sidebar-list"><a ui-sref="widgets">Widgets <span class="menu-icon fa fa-cubes"></span></a></li>
    </ul>
    <div class="sidebar-footer col-xs-12"><a href="#" target="_blank">&copy; 2015 Red Ventures</a></div>
</div>