<!-- Create/Edit -->
<div class="row">

    <!-- Widget listing -->
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <span ng-if="widget.id">Edit Widget</span>
                <span ng-if="!widget.id">Create Widget</span>
                <div class="pull-right">
                    <span class="success" ng-if="success"><strong>Data Saved</strong></span>
                    <span class="error" ng-if="error"><strong>Save Failed</strong></span>
                    <button ng-disabled="theWidget.$invalid" class="btn btn-sm btn-info edit" ng-click="saveWidget(widget)"><i class="fa fa-save fa-2x"></i></button>
                </div>
            </div>

            <div class="widget-body">
                <form name="theWidget" class="form-horizontal">

                    <!-- Name-->
                    <div class="controls">
                        Name
                        <input id="widget-name" ng-model="widget.name" name="name" type="text" placeholder="foo-bar" class="input-sm form-control" required>
                        <span class="error" ng-if="theWidget.name.$dirty && theWidget.name.$error.required">Please enter a name</span>
                    </div>

                    <!-- Price -->
                    <div class="controls">
                        <div class="input-prepend">
                            Price
                            <span class="add-on">$</span>
                            <input id="widget-price" ng-change="checkPrice()" ng-model="widget.price" name="price" class="input-sm form-control" placeholder="0.00" type="text" required>
                            <span class="error" ng-if="theWidget.price.$dirty && theWidget.price.$error.required || badPrice">Please enter a valid price</span>
                        </div>
                    </div>

                    <!-- Color -->
                    <div class="controls">
                        Color
                        <select id="widget-color" ng-model="widget.color" name="color" class="input-sm form-control" required>
                            <option>red</option>
                            <option>blue</option>
                            <option>purple</option>
                            <option>black</option>
                            <option>green</option>
                            <option>magenta</option>
                            <option>white</option>
                            <option>turtle-shell</option>
                            <option>off-white</option>
                            <option>speckled</option>
                            <option>depends on the viewing angle</option>
                        </select>
                        <span class="error" ng-if="theWidget.color.$dirty && theWidget.color.$error.required">Please select a color</span>
                    </div>

                    <!-- Melts -->
                    <div class="controls">
                        Melts
                        <input type="checkbox" class="form-control" ng-model="widget.melts" name="widget-properties" id="widget-properties-0" value="melts">
                    </div>

                    <!-- Inventory -->
                    <div class="controls">
                        Inventory
                        <input id="widget-count" ng-model="widget.inventory" name="count" type="number" placeholder="#?" class="input-sm form-control" required>
                        <span class="error" ng-if="theWidget.count.$dirty && theWidget.count.$error.required || theWidget.count.$error.number">Please enter a valid quantity</span>
                    </div>
                </form>
            </div><!-- End Widget body -->
        </div><!-- End Widget -->
    </div><!-- End Column -->
</div><!-- End Row -->
